*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(240, 171, 171);
}
#canvas{
    border: solid 1px black;
}
#color{
    padding: 0px;
    border: none;
    background: none;
    width: 44px;
    height: 44px;
}
#thickness{
    padding: 10px;
    background-color: aliceblue;
}